.footer-commercial {
    background-color: #333;
    color: white;
    padding: px 0;
}
.footer-social {
    margin-bottom: 20px;
}
.footer-contact {
    font-size: 14px;
    margin-bottom: 20px;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(138,255,244,1) 50%, rgba(0,255,248,1) 100%);
}

    
