.scroll-nav {
    background-color: #333; 
    transition: background-color 0.3s ease; 
}
.top h1 {
    display: flex;
    justify-content: center;
    color: #ffffffc8;
    border-color: black;
  }
.bg-fixed-prod{  
    background-image: url('https://i.pinimg.com/originals/61/ae/57/61ae57fdcd84621dee64aabe16db1bda.jpg');
    background-size: cover;
    background-attachment: fixed;
}
@media (max-width: 70%) {
    .background-image {
        background-size: contain;
    }
}
.footer-commercial {
    background-color: #333;
    color: white;
    padding: px 0;
}
.footer-social {
    margin-bottom: 20px;
}
.footer-contact {
    font-size: 14px;
    margin-bottom: 20px;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(138,255,244,1) 50%, rgba(0,255,248,1) 100%);}

